openapi: 3.0.3
info:
  title: PandaDocs API
  description: API documentation for PandaDocs template marketplace
  version: 1.0.0
  contact:
    name: PandaDocs API Support
    email: api@pandadocs.com
servers:
  - url: https://api.pandadocs.com/v1
    description: Production server
  - url: https://staging-api.pandadocs.com/v1
    description: Staging server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Nguyễn Văn An"
        username:
          type: string
          example: "nvan123"
        email:
          type: string
          format: email
          example: "an@email.com"
        role:
          type: string
          enum: [User, Author, Admin]
          example: "User"
        avatar:
          type: string
          example: "https://example.com/avatar.jpg"
        status:
          type: string
          enum: [active, inactive]
          example: "active"
        createdAt:
          type: string
          format: date-time
    
    Template:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: "Business Presentation Template"
        description:
          type: string
          example: "Professional business presentation template"
        category:
          type: string
          enum: [Reports, Presentations, Proposals]
          example: "Presentations"
        format:
          type: array
          items:
            type: string
          example: ["PowerPoint", "PDF"]
        industry:
          type: array
          items:
            type: string
          example: ["Business", "Technology"]
        isPremium:
          type: boolean
          example: false
        price:
          type: number
          example: 50000
        author:
          type: string
          example: "PandaDocs"
        authorId:
          type: integer
          example: 1
        rating:
          type: number
          format: float
          example: 4.5
        reviewCount:
          type: integer
          example: 50
        downloads:
          type: integer
          example: 1000
        images:
          type: array
          items:
            type: string
          example: ["https://example.com/preview1.jpg"]
        fileSize:
          type: string
          example: "5.4 MB"
        slides:
          type: integer
          example: 22
        createdAt:
          type: string
          format: date-time

    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "Error message"
        errors:
          type: array
          items:
            type: string

paths:
  # Authentication APIs
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Đăng ký tài khoản mới
      description: Tạo tài khoản người dùng mới
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - username
                - email
                - password
                - confirmPassword
              properties:
                name:
                  type: string
                  example: "Nguyễn Văn An"
                username:
                  type: string
                  example: "nvan123"
                email:
                  type: string
                  format: email
                  example: "an@email.com"
                password:
                  type: string
                  minLength: 8
                  example: "password123"
                confirmPassword:
                  type: string
                  example: "password123"
                role:
                  type: string
                  enum: [User, Author]
                  default: User
      responses:
        '200':
          description: Đăng ký thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
                          token:
                            type: string
        '400':
          description: Dữ liệu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Đăng nhập hệ thống
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: "an@email.com"
                password:
                  type: string
                  example: "password123"
      responses:
        '200':
          description: Đăng nhập thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
                          token:
                            type: string
        '401':
          description: Thông tin đăng nhập không đúng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/me:
    get:
      tags:
        - Authentication
      summary: Lấy thông tin profile hiện tại
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Thông tin profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '401':
          description: Chưa xác thực
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/profile:
    put:
      tags:
        - Authentication
      summary: Cập nhật thông tin profile
      security:
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Nguyễn Văn An"
                username:
                  type: string
                  example: "nvan123"
                bio:
                  type: string
                  example: "Professional designer"
                avatar:
                  type: string
                  format: binary
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Template Management APIs
  /templates:
    get:
      tags:
        - Templates
      summary: Lấy danh sách templates
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Số trang
        - name: limit
          in: query
          schema:
            type: integer
            default: 12
          description: Số items per page
        - name: category
          in: query
          schema:
            type: string
            enum: [Reports, Presentations, Proposals]
          description: Lọc theo danh mục
        - name: format
          in: query
          schema:
            type: string
            enum: [PowerPoint, PDF, Word]
          description: Lọc theo định dạng
        - name: industry
          in: query
          schema:
            type: string
            enum: [Business, Technology, Healthcare]
          description: Lọc theo ngành
        - name: license
          in: query
          schema:
            type: string
            enum: [Free, Premium]
          description: Lọc theo license
        - name: search
          in: query
          schema:
            type: string
          description: Từ khóa tìm kiếm
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [downloads, rating, date, price]
          description: Sắp xếp theo
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
          description: Thứ tự sắp xếp
      responses:
        '200':
          description: Danh sách templates
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          templates:
                            type: array
                            items:
                              $ref: '#/components/schemas/Template'
                          pagination:
                            type: object
                            properties:
                              currentPage:
                                type: integer
                              totalPages:
                                type: integer
                              totalItems:
                                type: integer
                              itemsPerPage:
                                type: integer

    post:
      tags:
        - Templates
      summary: Tạo template mới (Author/Admin only)
      security:
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - title
                - description
                - category
                - format
                - industry
                - isPremium
                - features
                - templateFile
                - previewImages
                - documentType
              properties:
                title:
                  type: string
                  example: "Business Report Template"
                description:
                  type: string
                  example: "Professional business report template"
                category:
                  type: string
                  enum: [Reports, Presentations, Proposals]
                format:
                  type: array
                  items:
                    type: string
                industry:
                  type: array
                  items:
                    type: string
                isPremium:
                  type: boolean
                price:
                  type: number
                  description: "Required if isPremium is true"
                features:
                  type: array
                  items:
                    type: string
                templateFile:
                  type: string
                  format: binary
                previewImages:
                  type: array
                  items:
                    type: string
                    format: binary
                  maxItems: 5
                documentType:
                  type: string
                  example: ".docx"
      responses:
        '201':
          description: Template được tạo thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Template'

  /templates/{id}:
    get:
      tags:
        - Templates
      summary: Lấy chi tiết template
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID của template
      responses:
        '200':
          description: Chi tiết template
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Template'
        '404':
          description: Template không tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - Templates
      summary: Cập nhật template (Author/Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                category:
                  type: string
                  enum: [Reports, Presentations, Proposals]
                format:
                  type: array
                  items:
                    type: string
                industry:
                  type: array
                  items:
                    type: string
                isPremium:
                  type: boolean
                price:
                  type: number
                features:
                  type: array
                  items:
                    type: string
                templateFile:
                  type: string
                  format: binary
                previewImages:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: Cập nhật template thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

    delete:
      tags:
        - Templates
      summary: Xóa template (Author/Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Xóa template thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /templates/search:
    get:
      tags:
        - Templates
      summary: Tìm kiếm templates
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Từ khóa tìm kiếm
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 12
        - name: category
          in: query
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
        - name: industry
          in: query
          schema:
            type: string
        - name: license
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Kết quả tìm kiếm
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          templates:
                            type: array
                            items:
                              $ref: '#/components/schemas/Template'
                          pagination:
                            type: object

  # Purchase APIs
  /purchases:
    post:
      tags:
        - Purchases
      summary: Mua template
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - templateId
                - paymentMethod
              properties:
                templateId:
                  type: integer
                  example: 1
                paymentMethod:
                  type: string
                  enum: [card, paypal, bank_transfer]
                  example: "card"
                paymentDetails:
                  type: object
                  properties:
                    cardNumber:
                      type: string
                      example: "1234567890123456"
                    expiryDate:
                      type: string
                      example: "12/25"
                    cvv:
                      type: string
                      example: "123"
                    cardholderName:
                      type: string
                      example: "Nguyen Van An"
      responses:
        '200':
          description: Mua hàng thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          purchaseId:
                            type: integer
                          templateId:
                            type: integer
                          userId:
                            type: integer
                          amount:
                            type: number
                          currency:
                            type: string
                          paymentMethod:
                            type: string
                          status:
                            type: string
                          purchaseDate:
                            type: string
                            format: date-time
                          downloadLink:
                            type: string

    get:
      tags:
        - Purchases
      summary: Lấy lịch sử mua hàng
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lịch sử mua hàng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Collections APIs
  /collections:
    get:
      tags:
        - Collections
      summary: Lấy danh sách collections
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Danh sách collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

    post:
      tags:
        - Collections
      summary: Tạo collection mới
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: "My Favorite Templates"
                description:
                  type: string
                  example: "Collection of my favorite business templates"
      responses:
        '201':
          description: Collection được tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /collections/{id}/templates:
    post:
      tags:
        - Collections
      summary: Thêm template vào collection
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID của collection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - templateId
              properties:
                templateId:
                  type: integer
                  example: 1
      responses:
        '200':
          description: Thêm template thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Admin APIs
  /admin/dashboard:
    get:
      tags:
        - Admin
      summary: Lấy thống kê dashboard admin
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Thống kê dashboard
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          monthlyRevenue:
                            type: number
                            example: 535000
                          rewardCosts:
                            type: number
                            example: 300000
                          totalTemplates:
                            type: integer
                            example: 356
                          totalExports:
                            type: integer
                            example: 4
                          dailyUsers:
                            type: integer
                            example: 53
                          revenueChange:
                            type: number
                            example: 2.5
                          templateChange:
                            type: number
                            example: 6.1
                          userChange:
                            type: number
                            example: 4.3
                          downloadStats:
                            type: array
                            items:
                              type: object
                              properties:
                                label:
                                  type: string
                                value:
                                  type: number

  /admin/users:
    get:
      tags:
        - Admin
      summary: Quản lý danh sách users
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: search
          in: query
          schema:
            type: string
          description: Tìm kiếm theo tên/email
        - name: role
          in: query
          schema:
            type: string
            enum: [User, Author, Admin]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
      responses:
        '200':
          description: Danh sách users
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          users:
                            type: array
                            items:
                              $ref: '#/components/schemas/User'
                          pagination:
                            type: object

  # File Management APIs
  /files/upload:
    post:
      tags:
        - Files
      summary: Upload file
      security:
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - type
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
                  enum: [template, preview, avatar]
      responses:
        '200':
          description: Upload thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          fileId:
                            type: integer
                          filename:
                            type: string
                          originalName:
                            type: string
                          size:
                            type: integer
                          mimeType:
                            type: string
                          url:
                            type: string

  /templates/{id}/download:
    post:
      tags:
        - Files
      summary: Tải template (sau khi mua)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID của template
      responses:
        '200':
          description: Link tải về
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          downloadUrl:
                            type: string
                          expiresAt:
                            type: string
                            format: date-time

  # Notifications APIs
  /notifications:
    get:
      tags:
        - Notifications
      summary: Lấy danh sách thông báo
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: read
          in: query
          schema:
            type: boolean
          description: Lọc theo trạng thái đã đọc
      responses:
        '200':
          description: Danh sách thông báo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /notifications/{id}/read:
    put:
      tags:
        - Notifications
      summary: Đánh dấu thông báo đã đọc
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID của thông báo
      responses:
        '200':
          description: Đánh dấu thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Missing Authentication APIs
  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Đăng xuất hệ thống
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Đăng xuất thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /auth/forgot-password:
    post:
      tags:
        - Authentication
      summary: Quên mật khẩu
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: "user@example.com"
      responses:
        '200':
          description: Email reset password đã được gửi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /auth/reset-password:
    post:
      tags:
        - Authentication
      summary: Đặt lại mật khẩu
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - password
                - confirmPassword
              properties:
                token:
                  type: string
                  example: "reset_token_here"
                password:
                  type: string
                  minLength: 8
                  example: "newpassword123"
                confirmPassword:
                  type: string
                  example: "newpassword123"
      responses:
        '200':
          description: Đặt lại mật khẩu thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # User Management APIs
  /users:
    get:
      tags:
        - User Management
      summary: Lấy danh sách tất cả users (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: search
          in: query
          schema:
            type: string
        - name: role
          in: query
          schema:
            type: string
            enum: [User, Author, Admin]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
      responses:
        '200':
          description: Danh sách users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /users/{id}:
    get:
      tags:
        - User Management
      summary: Lấy thông tin user cụ thể
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thông tin user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'

    put:
      tags:
        - User Management
      summary: Cập nhật thông tin user (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [User, Author, Admin]
                status:
                  type: string
                  enum: [active, inactive]
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

    delete:
      tags:
        - User Management
      summary: Xóa user (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Xóa user thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /users/{id}/status:
    put:
      tags:
        - User Management
      summary: Thay đổi trạng thái user (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [active, inactive]
      responses:
        '200':
          description: Cập nhật trạng thái thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /users/{id}/activity:
    get:
      tags:
        - User Management
      summary: Lấy lịch sử hoạt động của user
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Lịch sử hoạt động
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /users/{id}/purchases:
    get:
      tags:
        - User Management
      summary: Lấy lịch sử mua hàng của user
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Lịch sử mua hàng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Missing Template Management APIs

  /templates/categories:
    get:
      tags:
        - Templates
      summary: Lấy danh sách categories
      responses:
        '200':
          description: Danh sách categories
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            count:
                              type: integer

  /templates/popular:
    get:
      tags:
        - Templates
      summary: Lấy templates phổ biến
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: period
          in: query
          schema:
            type: string
            enum: [week, month, year]
            default: month
      responses:
        '200':
          description: Templates phổ biến
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Template'

  /templates/{id}/preview:
    get:
      tags:
        - Templates
      summary: Lấy ảnh preview của template
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Danh sách ảnh preview
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          images:
                            type: array
                            items:
                              type: string

  # Missing Purchase & Payment APIs
  /purchases/{id}:
    get:
      tags:
        - Purchases
      summary: Lấy chi tiết giao dịch mua hàng
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Chi tiết giao dịch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /payments/process:
    post:
      tags:
        - Purchases
      summary: Xử lý thanh toán
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - purchaseId
                - paymentMethod
              properties:
                purchaseId:
                  type: integer
                paymentMethod:
                  type: string
                  enum: [card, paypal, bank_transfer]
                paymentDetails:
                  type: object
      responses:
        '200':
          description: Thanh toán thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /payments/methods:
    get:
      tags:
        - Purchases
      summary: Lấy danh sách phương thức thanh toán
      responses:
        '200':
          description: Danh sách phương thức thanh toán
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            enabled:
                              type: boolean

  # Missing Collection APIs
  /collections/{id}:
    put:
      tags:
        - Collections
      summary: Cập nhật collection
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Cập nhật collection thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

    delete:
      tags:
        - Collections
      summary: Xóa collection
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Xóa collection thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /collections/{id}/templates/{templateId}:
    delete:
      tags:
        - Collections
      summary: Xóa template khỏi collection
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID collection
        - name: templateId
          in: path
          required: true
          schema:
            type: integer
          description: ID template
      responses:
        '200':
          description: Xóa template khỏi collection thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Seller/Author APIs
  /sellers/register:
    post:
      tags:
        - Sellers
      summary: Đăng ký trở thành seller
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - description
                - bankAccount
              properties:
                businessName:
                  type: string
                  example: "Design Studio Pro"
                description:
                  type: string
                  example: "Professional template designer"
                portfolio:
                  type: string
                  example: "https://portfolio.example.com"
                bankAccount:
                  type: object
                  required:
                    - accountNumber
                    - bankName
                    - accountHolder
                  properties:
                    accountNumber:
                      type: string
                      example: "1234567890"
                    bankName:
                      type: string
                      example: "Vietcombank"
                    accountHolder:
                      type: string
                      example: "Nguyen Van An"
                taxId:
                  type: string
                  example: "0123456789"
      responses:
        '201':
          description: Đăng ký seller thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /sellers/dashboard:
    get:
      tags:
        - Sellers
      summary: Lấy thống kê dashboard cho seller
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Thống kê dashboard seller
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          totalTemplates:
                            type: integer
                          totalSales:
                            type: integer
                          totalEarnings:
                            type: number
                          monthlyEarnings:
                            type: number
                          totalDownloads:
                            type: integer
                          averageRating:
                            type: number
                          recentSales:
                            type: array
                            items:
                              type: object

  /sellers/templates:
    get:
      tags:
        - Sellers
      summary: Lấy danh sách templates của seller
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: status
          in: query
          schema:
            type: string
            enum: [active, pending, rejected]
      responses:
        '200':
          description: Danh sách templates của seller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /sellers/earnings:
    get:
      tags:
        - Sellers
      summary: Lấy thống kê thu nhập của seller
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [week, month, quarter, year]
            default: month
      responses:
        '200':
          description: Thống kê thu nhập
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /sellers/analytics:
    get:
      tags:
        - Sellers
      summary: Lấy analytics cho seller
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Missing Admin APIs
  /admin/templates:
    get:
      tags:
        - Admin
      summary: Quản lý danh sách templates (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum: [active, pending, rejected]
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Danh sách templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /admin/revenue:
    get:
      tags:
        - Admin
      summary: Thống kê doanh thu (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [week, month, quarter, year]
            default: month
      responses:
        '200':
          description: Thống kê doanh thu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /admin/suggestions:
    get:
      tags:
        - Admin
      summary: Lấy danh sách đề xuất từ users (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, responded, closed]
      responses:
        '200':
          description: Danh sách đề xuất
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /admin/suggestions/{id}/respond:
    post:
      tags:
        - Admin
      summary: Phản hồi đề xuất (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - response
              properties:
                response:
                  type: string
                  example: "Cảm ơn đề xuất của bạn. Chúng tôi sẽ xem xét."
                status:
                  type: string
                  enum: [responded, closed]
                  default: responded
      responses:
        '200':
          description: Phản hồi thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /admin/advertising:
    get:
      tags:
        - Admin
      summary: Quản lý quảng cáo (Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Danh sách quảng cáo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

    post:
      tags:
        - Admin
      summary: Tạo campaign quảng cáo (Admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - content
                - startDate
                - endDate
              properties:
                title:
                  type: string
                  example: "Summer Sale Campaign"
                content:
                  type: string
                  example: "Giảm giá 50% tất cả templates"
                startDate:
                  type: string
                  format: date
                endDate:
                  type: string
                  format: date
                targetAudience:
                  type: array
                  items:
                    type: string
                budget:
                  type: number
      responses:
        '201':
          description: Tạo campaign thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /admin/settings:
    put:
      tags:
        - Admin
      summary: Cập nhật cài đặt hệ thống (Admin only)
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                siteName:
                  type: string
                siteDescription:
                  type: string
                maintenanceMode:
                  type: boolean
                allowRegistration:
                  type: boolean
                emailSettings:
                  type: object
                paymentSettings:
                  type: object
      responses:
        '200':
          description: Cập nhật cài đặt thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Missing File Management APIs
  /files/{id}:
    get:
      tags:
        - Files
      summary: Tải file theo ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

    delete:
      tags:
        - Files
      summary: Xóa file (Author/Admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Xóa file thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Missing Notification APIs
  /notifications/send:
    post:
      tags:
        - Notifications
      summary: Gửi thông báo (Admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - message
                - recipients
              properties:
                title:
                  type: string
                  example: "Thông báo mới"
                message:
                  type: string
                  example: "Nội dung thông báo"
                type:
                  type: string
                  enum: [system, promotion, update, warning]
                  default: system
                recipients:
                  type: array
                  items:
                    type: integer
                  description: "Danh sách user IDs nhận thông báo"
                sendToAll:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Gửi thông báo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Analytics & Reporting APIs
  /analytics/downloads:
    get:
      tags:
        - Analytics
      summary: Thống kê lượt tải
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 7d
        - name: templateId
          in: query
          schema:
            type: integer
          description: "Thống kê cho template cụ thể"
      responses:
        '200':
          description: Thống kê lượt tải
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          totalDownloads:
                            type: integer
                          periodDownloads:
                            type: integer
                          downloadTrend:
                            type: array
                            items:
                              type: object
                              properties:
                                date:
                                  type: string
                                downloads:
                                  type: integer
                          topTemplates:
                            type: array
                            items:
                              type: object

  /analytics/revenue:
    get:
      tags:
        - Analytics
      summary: Thống kê doanh thu
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
        - name: sellerId
          in: query
          schema:
            type: integer
          description: "Doanh thu của seller cụ thể"
      responses:
        '200':
          description: Thống kê doanh thu
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          totalRevenue:
                            type: number
                          periodRevenue:
                            type: number
                          revenueTrend:
                            type: array
                            items:
                              type: object
                          topSellingTemplates:
                            type: array
                            items:
                              type: object

  /analytics/users:
    get:
      tags:
        - Analytics
      summary: Thống kê users
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
      responses:
        '200':
          description: Thống kê users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /analytics/templates:
    get:
      tags:
        - Analytics
      summary: Thống kê hiệu suất templates
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Thống kê templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

tags:
  - name: Authentication
    description: APIs xác thực và quản lý tài khoản
  - name: User Management
    description: APIs quản lý người dùng (Admin only)
  - name: Templates
    description: APIs quản lý templates
  - name: Purchases
    description: APIs mua hàng và thanh toán
  - name: Collections
    description: APIs quản lý bộ sưu tập
  - name: Sellers
    description: APIs cho sellers/authors
  - name: Admin
    description: APIs quản trị hệ thống
  - name: Files
    description: APIs quản lý file
  - name: Notifications
    description: APIs thông báo
  - name: Analytics
    description: APIs thống kê và báo cáo
